<section class='register'>
<div ng:if='!$routeSegment.$routeParams.id'>
<h2>Verify E-mail</h2>
<div class='register-confirm'>
We have sent a confirmation e-mail to you.<br>
Please check your mail and click the link there.
</div>
</div>
<div ng:if="$routeSegment.$routeParams.id &amp;&amp; RegisterConfirm.result == 'ok'">
<div ng-if='!Me()'>
<h2>Done!</h2>
<div class='register-confirm'>
Your account has been activated!<br>Click the button below to proceed to the game.
</div>
<div class='controls controls-center'>
<md:button class='md-raised md-primary' ng:click='RegisterConfirm.signIn()'>
Sign In
</md:button>
</div>
</div>
<div ng-if='Me()'>
<h2>&nbsp;</h2>
<div class='register-confirm'>
Your email has been successfully verified.
</div>
</div>
</div>
<div ng:if="$routeSegment.$routeParams.id &amp;&amp; RegisterConfirm.result == 'error'">
<h2>Error</h2>
<div class='register-confirm'>
An error occured while verifying your email.<br>Please <a href="mailto:contact@screeps.com">contact our support</a> for further details.
</div>
</div>
</section>
