<section class='dlg-world-welcome'>
<div class='modal-header'>
<button class='close' ng:click='$dismiss()'>&times;</button>
<h4 class='modal-title'>Welcome to the Screeps World!</h4>
</div>
<div class='modal-body'>
<img align='right' src='components/game/dlg-world-activation/choose-room.gif'>
<p>Choose a room to found your colony. The room should meet the following requirements:</p>
<ul>
<li>Not occupied by another player.</li>
<li>Has the Room Controller for you to capture.</li>
<li>Has energy sources.</li>
</ul>
<p>Find any claimable room on the game map, enter it, and place your first spawn by clicking on any vacant square.</p>
</div>
<div class='modal-footer'>
<md:button class='md-raised md-primary' ng:click='$dismiss()' type='button'>OK</md:button>
</div>
</section>
