<div class='modal-header'>
<button class='close' ng:click='cancel()'>&times;</button>
<h4 class='modal-title'>Welcome to the Arena!</h4>
</div>
<div class='modal-body alert'>
There are no spawns, structures, and base in this mode. Instead, each player has
4&nbsp;immortal gladiators that keep constantly respawning in portals. Find and transfer back to the portals energy lying
in the rooms, and prevent others from doing the same!
</div>
<div class='modal-footer'>
<md:button app:click-animated='ok()' class='md-raised md-primary'>Start</md:button>
</div>
