<section class='simulation-welcome'>
<div class='title'>Choose Simulation Room mode</div>
<ul>
<li>
<a ng-href="#!{{'top.sim-tutorial-index' | routeSegmentUrl}}">
<img class='mode-icon' src='components/game/rocket.svg'>
<div class='mode-header'>Tutorial</div>
<div class='mode-description'>Learn basic game concepts step by step.</div>
</a>
</li>
<li>
<a ng-href="#!{{'top.sim-survival' | routeSegmentUrl}}">
<img class='mode-icon' src='components/game/clock.svg'>
<div class='mode-header'>Training Mode</div>
<div class='mode-description'>
Try your scripts in a simulated room with the predefined layout.
</div>
</a>
</li>
<li>
<a ng-href="#!{{'top.sim-custom' | routeSegmentUrl}}">
<img class='mode-icon' src='components/game/cog.svg'>
<div class='mode-header'>Custom Mode</div>
<div class='mode-description'>Modify the landscape, create any objects, and test your scripts playing for two virtual players at once.</div>
</a>
</li>
</ul>
</section>
