<div>
<div class='modal-header'>
<button class='close' ng:click='cancel()'>&times;</button>
<h4 class='modal-title'>40% OFF CREDITS SALE</h4>
</div>
<div class='modal-body alert' style='font-size: 1.1em;'>
<p>If you've been thinking about buying CPU Credits, but haven't decided yet, now is the time! We lowered the <b>Cr14,000</b> package cost to just <b>$28</b> which is only 60% of the Credit base price!</p><p>This promo will last till October 19, 11:00 UTC.</p>
<p align='center' style='background-color: #333;'><a ng:click="cancel()" href='#!/order'><img src='https://s3.amazonaws.com/static.screeps.com/upload/2015-10/sale.png'></a>
</div>
</div>
