<section>
<div class='modal-body'>
<button class='close' ng:click='$dismiss()'>&times;</button>
<p align='center' class='p-img'>
<img src='https://s3.amazonaws.com/static.screeps.com/upload/2016-09/steam_market.png'>
</p>
<p>
We have enabled Subscription Tokens integration with the&nbsp;<a app-nw-external-link href='http://steamcommunity.com/market/listings/464350/Subscription%20Token' target='_blank'>Steam Community Market</a>. Now you can not only buy tokens using Steam Wallet,
but also sell them there. If you own Screeps in your Steam account, having tokens in your profile
will allow you to exchange and trade them on Steam in the same way as with any other items on it.
</p>
</div>
</section>
